.container_modo_in {
    background-color: #f0f0f0; /* Fondo blanco tirando a gris */
    /* Bordes redondeados */
    border-radius: 10px;
    /* Espaciado interno */
    padding: 20px; 
    width: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombreado suave */
}

#metrica_tiempo {
    margin : 0;    
}
.modo_in_component {
    margin-bottom: 20px; /* Espaciado entre los componentes */
}

.input_label {
    display: block; /* Hacer que las etiquetas ocupen todo el ancho */
    /* margin-bottom: 5px;  */
    /* Espaciado inferior */
}

.input_component {
    width: 80%; /* Ocupar todo el ancho disponible */
    padding: 10px; 
    /* Espaciado interno */
    /* border: 1px solid #ccc;  */
    /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
}

#btn_cargar {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color de texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    margin-bottom: 10px;
}

#btn_cargar:hover {
    background-color: #0056b3; /* Color de fondo azul oscuro al pasar el mouse */
}
