.container_info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.usuario-info {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #be6868;
    width: 100vh;
}
.campo {
    margin-bottom: 10px;
    color: #f7f7f7;
    font-size: 1.2rem;
}

.campo label {
    font-weight: bold;
}

.campo span {
    font-style: italic;
    color: #666;
}