.session,
.registro {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Tamaño del contenedor al 100% de la ventana */
    flex-direction: column; /* Alinear los elementos en columna */
}

/* Estilos adicionales para los formularios */
form {
    width: 300px; /* Ancho del formulario */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Espacio entre formularios */
}

.inputform {
    margin-bottom: 10px;
}

.submit {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
