.container_registro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.session,
.registro {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Distribuir en columnas, ajustándolas automáticamente */
    gap: 10px; /* Espacio entre los elementos */
  }
  
  .inputform {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; /* Ajusta el tamaño del texto según tus preferencias */
  }
  
  .submit {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Estilos adicionales para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .registro {
      grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
    }
  }
  