/* styles.css */

.success-message {
    background-color: green;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: none; /* Oculta el div por defecto */
    grid-template-columns: 1fr auto; /* Una columna para el mensaje y una columna para la "X" */
    align-items: center; /* Centra verticalmente el contenido */
}

.close-button {
    cursor: pointer;
    font-weight: bold;
}

.close-button:hover {
    text-decoration: underline;
}
