#username, #tipo_usuario {
    color: white;
    text-decoration: underline;
}

/* Estilos para el panel de navegación */
.menu {
    background-color: #333; /* Color de fondo del menú */
    padding: 10px 0; /* Espaciado interno vertical */
    text-align: center; /* Alinear en el centro horizontalmente */
    position: fixed; /* Hacer el menú fijo */
    top: -10; /* Alinear en la parte superior */
    width: 100%; /* Ancho completo */
    /* z-index: 1000; Capa superior */
}

.menu ul {
    list-style: none; /* Eliminar viñetas de la lista */
    padding: 0;
}

.menu ul li {
    display: inline-block; /* Mostrar elementos en línea */
    margin: 0 15px; /* Espaciado entre elementos */
}

.menu ul li a {
    color: #fff; /* Color del texto del enlace */
    text-decoration: none; /* Eliminar subrayado del enlace */
    transition: color 0.3s; /* Transición de color suave */
}

.menu ul li a:hover {
    color: #f00; /* Cambiar color al pasar el cursor sobre el enlace */
}
