
/* Estilo para los elementos dentro de las secciones */
#username, #tipo_usuario, #alias, label {
    margin-left: 20px; /* Agrega espacio entre los elementos */
}

#menu_icon.hidden {
    display: none
}

/* Estilo para el icono del menú */
#menu_icon {
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
}

#menu_general {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dddddd;
    padding: 10px 20px;
}

#user_info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user_info label {
    font-weight: bold;
    margin-right: 10px;
}

.menu_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.menu_nav li {
    margin-right: 20px;
}

.menu_nav a {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease;
}

.menu_nav a:hover {
    color: #666666;
}

.menu_nav ul {
    display: flex;
    justify-content: space-between;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {

    #menu_icon.hidden {
        display: block
    }

    #menu_general.hidden {
        display: none;
    }

    #menu_general {
        flex-direction: column;
    }

    #user_info {
        order: 2; /* Cambia el orden para que user_info aparezca después */
        margin-top: 10px; /* Agrega espacio entre user_info y menu_nav */
    }

    .menu_nav {
        order: 1; /* Cambia el orden para que menu_nav aparezca primero */
    }

    .menu_nav ul {
        flex-direction: column; /* Muestra los enlaces uno debajo del otro */
    }

    .options li {
        margin: 5px 0; /* Agrega espacio entre los enlaces */
    }
}
