*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
  }
  nav{
	background: whitesmoke;
	height: 80px;
	width: 100%;
  }
  
  label.logo img{
	padding-top: 10px;
	width: 250px;
  }
  label.logo{
	color: #f2f2f2;
	font-size: 33px;
	line-height: 80px;
	padding: 0 50px;
	font-weight: 600px;
	font-family: 'Poppins', sans-serif;
  }
  nav ul{
	float: right;
	margin-right: 60px;
  }
  nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 2px;
  }
  nav ul li a{
	color: #bd7c7c;
	font-weight: 500;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	/* text-transform: uppercase; */
	font-family: 'Poppins', sans-serif;
  }
  a.active,a:hover{
	background: whitesmoke;
	transition: .5s;
  }
  .checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 10px;
	cursor: pointer;
	display: none;
  }
  #check{
	display: none;
  }

.seccionImagenes{
	padding-top: 20px;
}

#mensajes_estado{
	display: none;
}

#botones_imagenes{
	margin: auto;
	padding: 20px;
	width: 300px;
}

/*no se muestran a penas carga el CSS, para que 
las pueda redimencionar con JS, y agregarles el evento
sobre la eleccion de puzzle a jugar con su dificultad*/
.imagenes_principales{
	display: none;
	padding: 10px;
}

label{
	padding: 10px;
}

.submit{
	width: auto;
}

#contrasenia_log_facebook{
	display: none;
}
input{
	display: block;
	margin: auto;
	padding: 10px;
	width: auto;
	border-radius: 10px;
}
.submit:hover{
	background-color: cadetblue;
}

.lienzo{
	text-align: center;
}
canvas {	
    border: 5px solid black;
	margin:auto;
	border-radius: 10px;
}

.juego{
    display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.piezas{
    border: 5px solid black;
	display:flex;
	flex-flow: row wrap;
}

.buttonTouch{
	display: none;
}

#cheers, #cut, #no{
	display: none;
}

body {
	background: radial-gradient(ellipse at center, #7bac92 0%, rgb(0, 127, 127) 100%);
	transition: 1s;
	height: 100vh;
	text-align: center;
}

/**stilos sobre la lista de movimientos - juego*/
.movimientos{
	background-color: cadetblue;
	border-radius: 10px;
	text-align: left;
}

.piezas{
	display: none;
}

/**
	VISTA LOGIN-REGISTRO 
*/

.session{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.login .registro{
	padding: 300px;
	background-color: #354330;
	border-radius: 10px;
	/* width: auto;
	margin: auto;
	display: block; */
}

.inputform{
	width: auto;
	padding: 5px;
}

.imagen_original{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.img_o{
	padding:10px;
}

@media (max-width: 952px){
	label.logo{
	  font-size: 10px;
	  padding-left: 0px;
	}
	nav ul li a{
	  font-size: 16px;
	}
  }

@media screen and (max-width:700px){
	.lienzo, .juego, .imagen_original{
		margin: 0 auto;
		width: auto;
		display: block;
	}

	.seccionImagenes{
		padding-left: 10px;
	}

	canvas, .imagen_original{
		margin: auto;		
	}
	html{
		margin: 0 auto;
		display: block;
	}	

	.checkbtn{
		display: block;
		margin-right: 8px;
	  }
	  ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #007F7F;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	  }
	  nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	  }
	  nav ul li a{
		font-size: 20px;
	  }
	  a:hover,a.active{
		background: none;
		color: #007F7F;
	  }
	  #check:checked ~ ul{
		left: 0;
	  }

}