:root {
	--primColor: #dcdcdc;
	--secoColor: #555555;
	--cornerRad: 4px;
  }
  body {
	background-color: var(--primColor);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
  }
  details {
	margin: 40px;
  }
  /* nav{
	background: rgb(245, 245, 245);
	height: auto;
	width: 100%;
	border: 4px dotted rgb(99, 128, 182);
  }
   */
   summary {
	writing-mode: vertical-lr;
	text-align: center;
	padding: 12px 10px;
	width: 23px;
	height: 17px;
	background-color: var(--primColor);
	border: 2px solid var(--secoColor);
	border-radius: var(--cornerRad);
	color: var(--secoColor);
	cursor: pointer;
	user-select: none;
	outline: none;
	transition: transform 200ms ease-in-out 0s;
  }
  summary::before,
  summary::after {
	position: static;
	top: 0;
	left: 0;
  }
  summary::before {
	content: "";
  }
  summary::after {
	content: "III";
	letter-spacing: -1px;
  }
  summary:hover {
	transform: scale(1.5);
  }
  summary::marker {
	font-size: 0;
  }
  summary::-webkit-details-marker {
	display: none;
  }
  details[open] .menu {
	animation-name: menuAnim;
  }
  details[open] summary::before {
	content: "X";
  }
  details[open] summary::after {
	content: "";
  }
	
   .menu {
	height: 0;
	width: fit-content;
	border-radius: var(--cornerRad);
	background-color: var(--primColor);
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
	margin-top: 8px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	animation: closeMenu 300ms ease-in-out forwards;
  }
  .menu a {
	padding: 12px 24px;
	margin: 0 16px;
	color: var(--secoColor);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	text-decoration: none;
	text-align: center;
	transition: filter 200ms linear 0s;
  }
  .menu a:nth-of-type(1) {
	padding-top: 24px;
  }
  .menu a:nth-last-of-type(1) {
	border-bottom: none;
  }
  .menu a:hover {
	filter: brightness(200%);
  }
  details[open]::before {
	animation: fadeMe 300ms linear forwards;
  }
  @keyframes menuAnim {
	0% {
	  height: 0;
	}
	100% {
	  height: 312px;
	}
  }
  @keyframes fadeMe {
	0% {
	  opacity: 0.4;
	}
	100% {
	  opacity: 0;
	}
  }
  
  .logo{
	color: #da5656;
	font-size: 33px;
	line-height: 80px;
	padding: 0 50px;
	height: 80px;
	/* font-weight: 600px; */
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
  }

  .logo img{
	padding: 1px;
	object-fit: cover;
	max-width:100%;
	max-height:90%;
  }

  nav ul{
	float: right;
	margin-right: 60px;
  }
  nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 2px;
  }
  nav ul li a{
	/* color: cadetblue; */
	-webkit-text-stroke: 2px rgb(99, 128, 182);
	color: transparent;
	font-weight: 500;
	font-size: 20px;
	padding: 7px 13px;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
  }
  a.active,a:hover{
	background: whitesmoke;
	transition: .5s;
  }
  .checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 10px;
	cursor: pointer;
	display: none;
  }
  #check{
	display: none;
  }

main {
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	/* align-items: center; */
}

.form_nuevo {
	display: flex;
	flex-direction: column;
	height: 60%;
	width: 30%;
	align-items: center;
	background-color: rgb(141, 204, 211);
	border-radius: 10%;
}

.form_nuevo input{
	padding-top: 5px;
}

.entrada {
	height: 30px;
	padding: 0;
	margin: 0;
	width: 60%;
}

.enviar {
	padding	: 10px;
	height: 40px;
	width: 60%;
	border-radius: 10px;
}

table.listado {
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	width: 40vw;
	height: 15vh;
	text-align: left;
	border-collapse: collapse;
  }
  table.listado td, table.listado th {
	border: 1px solid #AAAAAA;
	padding: 3px 2px;
  }
  table.listado tbody td {
	font-size: 13px;
  }
  table.listado tr:nth-child(even) {
	background: #D0E4F5;
  }
  table.listado thead {
	background: #1C6EA4;
	background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
	border-bottom: 2px solid #444444;
  }
  table.listado thead th {
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	border-left: 2px solid #D0E4F5;
  }
  table.listado thead th:first-child {
	border-left: none;
  }
  
  table.listado tfoot {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background: #D0E4F5;
	background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
	border-top: 2px solid #444444;
  }
  table.listado tfoot td {
	font-size: 14px;
  }

 .mensaje {
	
		font-family: "Comic Sans MS", cursive, sans-serif;
		font-size: 24px;
		letter-spacing: 1.4px;
		word-spacing: -5px;
		color: #7cb0b4;
		font-weight: 700;
		text-decoration: none solid rgb(68, 68, 68);
		font-style: italic;
		font-variant: small-caps;
		text-transform: uppercase;
	
 }

 .accion {
	 display: block;
	 padding: 5px;
	 text-align: center;
 }
 .session {
	 display: flex;
	 flex-direction: column;
 }

 .seccion_alumnos {
	 display: flex;
	 flex-direction: row;
 }

 .seccion_info {
	 padding-top: 20px;
	 padding-left: 30px;
 }

 .seccion_imagenes {
	width: 80vw;
	height: 100vh;
	display: flex-wrap;
 }
 .imagenes_familia{
	width: 200px;
	height: 200px;
	border-radius: 60%;
 }