body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f0f0f0;
    background-color: transparent; /* Fondo transparente */
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-color: transparent; /* Fondo transparente */

}

th {
    background-color: #ddd;
}
