<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    

    <title>Juego de Puzzle o Taken, puzzle-paw</title>  
    <meta name="description" content= "Clasico juego de puzzle, cuenta con incorporacion de imagenes propias, pudiendo ser compartidas con demás usuarios para que otros las usen en el juego,." />
    <meta name="robots" content= "index, follow">
    <link rel="icon" type="image/vnd.microsoft.icon" href="imgs/icons/icon-app-2.ico">
    <!-- <link rel="stylesheet" href="css/panel_navegacion.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/busqueda_imagen.css">
    <link rel="stylesheet" href="css/tablas.css"> -->
    <link rel="stylesheet" href="css/stilos.css">

</head>
