<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimun-scale=1.0">

    <title>Juego de Puzzle o Taken, puzzle-paw</title>  
    <meta name="description" content= "Clasico juego de puzzle, cuenta con incorporacion de imagenes propias, pudiendo ser compartidas con demás usuarios para que otros las usen en el juego,." />
    <meta name="robots" content= "index, follow">

    
    <link rel="stylesheet" href="css/stilos.css">
    <link rel="stylesheet" href="css/info_rest.css">
    <link rel="shortcut icon" href="#" />
	{# <script src="scripts/cargadeImagenes.js"></script> #}
	<script defer src="scripts/nuevo_recibo.js"></script>
</head>