<footer>
    {% if sesion_activa %}
        <a href="/cerrar_sesion">Cerrar Sesion</a>
    {% endif %}

    <script defer src="scripts/juego_puzzle.js"></script>

    <script defer src="scripts/menu.js"></script>

    <script src="https://www.youtube.com/iframe_api"></script>

    <script defer src="scripts/mashup.js"></script>

    <script defer src="scripts/registro.js"></script>

    <script type="module" src="scripts/piezas.js"></script>
    <script type="module" src="scripts/dificultad.js"></script>
    <script type="module" src="scripts/rompecabezas.js"></script>
    <script type="module" src="scripts/fileverifier.js"></script>
    <script type="module" src="scripts/app.js"></script>

</footer>
