
    <header>
        <div class="menu_bar">
            <a href="#" class="bt-menu"><span class="icon-list2"></span>Menu</a>
        </div>
        <nav>
            <ul>
                <li><a href="#"><span class="icon-home3"></span>Inicio</a></li>
                <li><a href="#"><span class="icon-trabajo"></span>Trabajos</a></li>
                <li><a href="#"><span class="icon-proyectos"></span>Proyectos</a></li>
                <li><a href="#"><span class="icon-"></span>Servicios</a></li>
                <li><a href="#"><span class="icon-"></span>Exit</a></li>
            </ul>
        </nav>
    </header>
