<header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <img src="/public/imgs/icons/menu.png" alt="icon-menu">
        </label>
        <label class="logo">
            <img src="/public/imgs/icons/logotipo.svg" alt="icono-logotipo">
        </label>
        <ul>
            <li><a class="active" href="/"></a>Principal</li>
            <li><a href="/login"></a>Login</li>
        </ul>
    </nav>
    <body>
        <section></section>
    </body>
</header>
