
{% include 'partials/base.html' %}

<body>
	{% include 'partials/nav-puzzle.html' %}
	<main>
			<audio id="cheers" controls>
			<source src="../../public/audios/aud.mp3" type="audio/mp3">
			<source src="../../public/audios/aud.ogg" type="audio/ogg">
			</audio>
		
			<audio id="cut" controls>
			<source src="../../public/audios/cut.mp3" type="audio/mp3">
			<source src="../../public/audios/cut.ogg" type="audio/ogg">
			</audio>
		
			<audio id="no" controls>
			<source src="../../public/audios/no.mp3" type="audio/mp3">
			<source src="../../public/audios/no.ogg" type="audio/ogg">
			</audio>
		
			<h1 class="titulo_juego">Clasico juego de Puzzle</h1>
		
			<section class="juego">
				<section class="lienzo">
					<h1 id="message"></h1> <!-- Esta propiedad se va modificando mientras corre el juego-->
					<h1 id="moves"></h1> <!-- tambien se va modificando -->
					<canvas id="canvas" height="{{ ancho_canvas }}" width="{{ alto_canvas }}"></canvas>
					<article class="movimientos">
						<ul id="lista_movimientos">

						</ul>
					</article>
					<article id="mensajes_estado">
						<ul>

						</ul>
					</article>
				<section class="imagen_original">
					
					<article>
						{% set cont=1 %}
						{% for pieza in piezas %}
							<article class="piezas">
								<img id="puzz{{ cont }}" src="data:image/jpeg;base64,{{ pieza }}">
							</article>          
							{% set cont = cont + 1 %}
						{% endfor %}	
						</article>
				</section>
			</section>
			<input type="hidden" id="tamanio_pieza" value="{{ tamanio_pieza }}">
			<input type="hidden" id="cantElementos" value="{{  cantElementos }}">
			<input type="hidden" id="dificultad" value="{{ dificultad }}">
			<input type="hidden" id="movPermitidos" value="{{ movPermitidos }}">
			<input type="hidden" id="matriz" value="{{ matriz }}">
			<input type="hidden" id="combinaciones" value="{{ combinaciones }}">
			<input type="hidden" id="estado_actual" value="{{ estado_actual }}">
			<input type="hidden" id="estados_futuros" value="{{ estados_futuros }}">
			<input type="hidden" id="sector_vacio" value="{{ sector_vacio }}">
	</main>
	<script src="public/scripts/puzzle.js"></script>
</body>
</html>