{% include 'partials/base.html' %}
<body>
    {% include 'partials/nav-puzzle.html' %}  

    <main>
        <h1 id="titulo_partida">Listado de Partidas</h1>
        <div class="container">
            {% if partidas is empty %}
                <p>No hay partidas disponibles.</p>
            {% else %}
                {% for partida in partidas %}
                    <div class="partida">
                        <h2>Partida ID: {{ partida.id_partida }}</h2>
                        <p>Progreso: {{ partida.progreso|title }}</p>
                        <p>Puntaje: {{ partida.puntaje }}</p>
                        <a class="jugar-btn" href="/continuar_partida?partida={{ partida.id_partida }}">Jugar</a>
                    </div>
                {% endfor %}
            {% endif %}            
        </div>
    </main>
    {% include 'partials/footer.html' %}
</body>
