{% include 'partials/base.html' %}
<body>
    {% include 'partials/nav-puzzle.html' %}
    <main>
            <table class="listado">
                <caption>RECIBOS DE LOS ALUMNOS</caption>
                <thead>
                    <tr>
                        <th>Nombre Alumno</th>
                        <th>Grado</th>
                        <th>Mes</th>
                        <th>Nro Recibo</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in listado %}
                    <tr>
                        <td>
                            <a class="accion" href="ver_alumno?nombre_alumno={{ value.nombre_alumno }}">{{ value.nombre_alumno }}</a>
                        </td>
                        <td>
                            {{ value.grado }}
                        </td>
                        <td>
                            {{ value.mes_cuota }}
                        </td>
                        <td>
                            {{ value.nro_recibo }}
                        </td>
                        <td>
                            <a class="accion" href="{{ value.ruta_archivo }}" download>Descargar</a>
                            <a class="accion" href="/modificar_recibo">Modificar</a>
                            <a class="accion" href="/eliminar_recibo">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
</body>
</html>