{% include 'partials/base.html' %}

<body>
  {% include 'partials/nav-puzzle.html' %}  
  <section class="session">
        <section class="login">
      <fieldset>
          <legend>Login</legend>
          <form id="form_login" action="iniciar_session" method="POST">
            <article class="inputform">
              <label for="usuario">Usuario</label>
              <input type="text" name="usuario">
            </article>
            <article class="inputform">
              <label for="contraseña">Contraseña</label>
              <input type="password" name="contrasenia">
            </article>
            <article class="inputform">
            </article>  
            <article class="login_fb">
              <a href="javascript:void(0);" onclick="fbLogin();" id="fbLink">Login by Facebook</a>
              <input type="hidden" id="user_log_facebook" name="user_log_facebook" value="">
              <input type="password" id="contrasenia_log_facebook" name="contrasenia_log_facebook" value="">
              <input type="hidden" id="alias_log_facebook" name="alias_log_facebook" value="">
              <input type="hidden" id="email_log_facebook" name="email_log_facebook" value="">
              <input type="hidden" id="login_por_facebook" name="login_por_facebook" value="">
              <input class="submit" type="submit" name="login" value="Loguearse">

              <article id="status">
              </article>
              <article class="ac-data" id="userData">
              </article>
            </article>
          </form>
          <p>{{ mensaje_error_log }}</p>
        </fieldset>
        </section>
        <section class="registro">
        <fieldset>
          <legend>Registro</legend>
          <form action="registrar_usuario" method="POST">
            <article class="inputform">
              <label for="usuario">Usuario</label>
              <input type="text" name="id_usuario">
            </article>  
            <article class="inputform">
              <label for="contraseña">Contraseña</label>
              <input type="password" name="contrasenia">
            </article>
            <article class="inputform">
              <label for="alias">Alias</label>
              <input type="text" name="alias" id="alias">
            </article>   
            <article class="inputform">
              <label for="email">Correo Electrónico</label>
              <input type="text" name="email" id="email">
            </article>   
            <article class="inputform">
              <input class="submit" type="submit" name="login" value="Registrar">
            </article>  
          </form>
          <p>{{ mensaje_error_registro }}</p>
        </fieldset>
        </section>
  </section>
</body>
</html>