{% include 'partials/base.html' %}
{% include 'partials/nav-puzzle.html' %}

<body>

    <main>
        
        {% include 'panel_input_url_imagen.html' %}

        <section id="puntaje" >
           <label for="aciertos" id="aciertos" class="metricas">Aciertos: {{ aciertos | default("00")}}</label>     
           <label for="tiempo" id="tiempo" class="metricas">Tiempo: {{ tiempo | default("00:00") }}</label>     
           <label for="errores" id="errores" class="metricas">Errores: {{ errores | default("00") }}</label>     
           <label for="puntaje_actual" id="puntaje_actual" class="metricas">Puntaje: {{ puntaje_actual | default("00") }}</label>     
        </section>
        
        <section class="container">

            <!-- en puzzle es donde el jugador 
                va a colocar las piezas -->
            <section id="puzzle">

            </section>
            
            <!-- en piezas van las piezas cargadas -->
            <section id="piezas">

            </section>
        </section>

    <div id="ganaste_cartel" class="hidden">
        <h2>Ganaste</h2>
        <div class="lights"></div>
    </div>

    </main>
    {% include 'partials/footer.html' %}
</body>