{% include 'partials/base.html' %}
{% include 'partials/nav-puzzle.html' %}

<body>

    <main>

        
        
        <section class="container_partida">    
            
                {% include 'panel_input_url_imagen.html' %}        

                {% include 'puntaje.html' %}

                <section class="container_juego">
                    <!-- en puzzle es donde el jugador 
                        va a colocar las piezas -->
                    <section id="puzzle">
        
                    </section>
                    
                    <!-- en piezas van las piezas cargadas -->
                    <section id="piezas">
        
                    </section>

            </section>
        </section>
        
    <div id="ganaste_cartel" class="hidden">
        <h2>Ganaste</h2>
        <div class="lights"></div>
    </div>

    </main>
    {% include 'partials/footer.html' %}
</body>