{% include 'partials/base.html' %}
{% include 'partials/nav-puzzle.html' %}

<body>
    <main>
        
        <section class="panel_juego">
            <img alt="paisaje-random" id="imagen" src="imgs/paisaje.jpg" width="300" height="300">
            <ul>
                <li>
                    <canvas id="canvas_0" width="100" height="100"></canvas>
                    <canvas id="canvas_1" width="100" height="100"></canvas>
                    <canvas id="canvas_2" width="100" height="100"></canvas>
                </li>
                <li>
                    <canvas id="canvas_3" width="100" height="100"></canvas>
                    <canvas id="canvas_4" width="100" height="100"></canvas>
                    <canvas id="canvas_5" width="100" height="100"></canvas>
                </li>
                <li>
                    <canvas id="canvas_6" width="100" height="100"></canvas>
                    <canvas id="canvas_7" width="100" height="100"></canvas>
                    <canvas id="canvas_8" width="100" height="100"></canvas>
                </li>
            </ul>
        </section>
</body>
{% include 'partials/footer.html' %}
</main>