<div id="modo_in_pc" class="modo_in_component">
    <label for="input_pc" class="input_label">Seleccionar imagen de PC:</label>
    <input id="input_pc" class="input_component" type="file" accept="image/*">
</div>

<div id="url_input" class="url_input_component">
    <label for="url" class="input_label">Ingresar URL de la imagen:</label>
    <input id="url" class="input_component" type="text">
    <button id="loadFromURL">Cargar desde URL</button>
</div>

<div id="image_list" class="image_list_component">
    <!-- Imágenes cargadas desde la API -->
</div>