{% include 'partials/base.html' %}
<body>
	{% include 'partials/nav-puzzle.html' %}
    <h3>Partidas del Jugador: {{ detalle.jugador }}</h3>
    <section class="partidas">
        {% for partida in detalle.partidas%}            
            <article class="detalle_partida">
                <label for="nro_partida">{{ partida.id_partida }}</label>
                <label for="estado_juego">{{ partida.estados_del_juego }}</label>
                <img src="" alt="{{ partida.tags }}">                
            </article>
        {% endfor %}
    </section>   
    <a href="/nuevo_rompecabezas?id_usuario='{{ detalle.jugador }}'">Jugar Nuevo</a> 
</body>
</html>