{% include 'partials/base.html' %}
{% include 'partials/nav-puzzle.html' %}

<body>

    <main>
        
        {% include 'panel_input_url_imagen.html' %}

        <section>
            
        </section>
        
        
        <section class="container">
            
            <section id="puntaje" >
               <label id="id_partida" class="metricas" data-value="{{ id_partida }}">{{ id_partida ? "Partida N°" ~ id_partida : "Sin partida asignada" }}</label>
               <label for="aciertos" id="aciertos" class="metricas" data-value="{{ aciertos | default("00")}}">Aciertos: {{ aciertos | default("00")}}</label>     
               <label for="tiempo" id="tiempo" class="metricas" data-value="{{ tiempo | default("00:00") }}">Tiempo: {{ tiempo | default("00:00") }}</label>     
               <label for="errores" id="errores" class="metricas" data-value="{{ errores | default("00") }}">Errores: {{ errores | default("00") }}</label>     
               
            </section>

            <section id="puzzle">
                {% for puzzlePiece in puzzle %}
                    <div class="placeholder" id="{{ puzzlePiece['id'] }}">
                        {% if puzzlePiece.canvasId is not null %}
                            <canvas id="{{ puzzlePiece.canvasId }}" class="pieza" draggable="true" style="cursor: move;"></canvas>
                        {% endif %}
                    </div>
                {% endfor %}                
            </section>
            
            <section id="piezas">
                {% for pieza in piezas %}
                    <div class="divCanva" id="{{ pieza['id'] }}">
                        {% if pieza.canvasId is not null %}
                            <canvas id="{{ pieza.canvasId }}" class="pieza" draggable="true"></canvas>
                        {% endif %}
                    </div>
                {% endfor %}
            </section>       

         </section>
    <div id="ganaste_cartel" class="hidden">
        <h2>Ganaste</h2>
        <div class="lights"></div>
    </div>
    {% if fragmentos is not empty %}

        <script>
            {% for fragmento in fragmentos %} 
                var canvas{{ loop.index }} = document.getElementById("canvas_{{ loop.index }}");
                var ctx{{ loop.index }} = canvas{{ loop.index }}.getContext("2d");
                var img{{ loop.index }} = new Image();
                img{{ loop.index }}.onload = function() {
                    ctx{{ loop.index }}.drawImage(img{{ loop.index }}, 0, 0, 100, 100);
                };
                img{{ loop.index }}.src = "data:image/jpeg;base64,{{ fragmento }}";
            {% endfor %}
        </script>                          
    {% else %}
        <p>No hay fragmentos para mostrar.</p>
    {% endif %}    
    </main>
    {% include 'partials/footer.html' %}
</body>