<section class="metricas" >
    <img class="icons" src="imgs\icons\metricas_icons\hashtag-solid.svg" alt="hashtag">
    <label id="id_partida" class="valores" data-value="{{ id_partida }}">{{ id_partida ? id_partida : "--" }}</label>

    <img class="icons" src="imgs\icons\metricas_icons\pulgar-arriba.svg" alt="aciertos">
    <label for="aciertos" class="valores"  data-value="{{ aciertos | default("00")}}">{{ aciertos | default("00")}}</label>         


    <img class="icons" src="imgs\icons\metricas_icons\tiempo.svg" alt="tiempo">
    <label for="tiempo" class="valores" data-value="{{ tiempo | default("00:00") }}">{{ tiempo | default("00:00") }}</label>     


    <img class="icons" src="imgs\icons\metricas_icons\pulgar-abajo.svg" alt="errores">
    <label for="errores" class="valores" data-value="{{ errores | default("00") }}">{{ errores | default("00") }}</label>     


    <img class="icons" src="imgs\icons\metricas_icons\star-solid.svg" alt="puntaje">
    <label for="puntaje_actual" class="valores" data-value="{{ puntaje_actual | default("00") }}">{{ puntaje_actual | default("00") }}</label>     

</section> 
