{% include 'partials/base.html' %}
<body>
    {% include 'partials/nav-puzzle.html' %}
    <main>

        <table class="listado">
            <caption>DATOS DEL ALUMNO</caption>
            <thead>
                <tr>
                    <th>Nombre Alumno</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Grado</th>
                    <th>Nombre del Padre</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        {{ datos_alumno.nombre_alumno }}
                    </td>
                    <td>
                        {{ datos_alumno.fecha_nacimiento }}
                    </td>
                    <td>
                        {{ datos_alumno.grado }}
                    </td>
                    <td>
                        <a class="accion" href="ver_padre?nombre_padre={{ datos_alumno.nombre_padre }}">{{ datos_alumno.nombre_padre }}</a>
                    </td>                
                    <td>
                        <a class="accion" href="alumnos">Volver a Listado</a>
                        <a class="accion" href="/ver_recibos_alumno">Ver Recibos</a>
                        <a class="accion" href="/actualizar_alumno?nombre_alumno={{ datos_alumno.nombre_alumno }}">Editar</a>
                    </td>
                </tr>
    </main>
</body>
</html>